<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>myFilter</filter-name>
        <filter-class>Source.NewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>myFilter</filter-name>
        <servlet-name>myThirdServ</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>MySecondServlet</servlet-name>
        <servlet-class>Source.MySecondServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myThirdServ</servlet-name>
        <servlet-class>Source.MyThirsdServlet</servlet-class>
        <init-param>
            <param-name>FirstName</param-name>
            <param-value>John</param-value>
        </init-param>
        <init-param>
            <param-name>LastName</param-name>
            <param-value>Musterman</param-value>
        </init-param>
        <init-param>
            <param-name>Age</param-name>
            <param-value>22</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>myFourthServlet</servlet-name>
        <servlet-class>Source.myFourthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MySecondServlet</servlet-name>
        <url-pattern>/MySecondServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myThirdServ</servlet-name>
        <url-pattern>/myThirdServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myFourthServlet</servlet-name>
        <url-pattern>/myFourthServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
